
.both_border {
    border-top: 1px dotted  black;
	border-bottom: 1px dotted  black;
   
}

th.titlequantity {
    width: 8mm;
    max-width: 8mm;
    word-break: break-all;
	text-align:center;
}

td.quantity {
    width: 8mm;
    max-width: 8mm;
    word-break: break-all;
	text-align:center;
}


th.titledescription {
    width: 28mm;
    max-width: 28mm;
}

td.description {
    width: 55px;
    max-width: 55px;
}

th.titleprice {
    width: 11mm;
    max-width: 11mm;
    word-break: break-all;
	text-align:right;
}

td.price {
    width: 12mm;
    max-width: 12mm;
    word-break: break-all;
	text-align:right;
}

.centered {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    align-content: center;
}

.ticket {
    width: 55mm;
    max-width: 55mm;
}

td.totales {
    font-size: 15px;
}


img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}

.btn-bootstrap1 {
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #007bff;
    color: #fff;
    transition: background-color .15s ease-in-out;
  }
  
  .btn-bootstrap1:hover, .btn-bootstrap1:focus {
    background-color: #041c35e5;
  }
  
  .btn-bootstrap1:active {
    background-color: #0062cc;
  }

  .btn-bootstrap2 {
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #ffbb00;
    color: #fff;
    transition: background-color .15s ease-in-out;
  }
  
  .btn-bootstrap2:hover, .btn-bootstrap2:focus {
    background-color: #f3860af8;
  }
  
  .btn-bootstrap2:active {
    background-color: #0062cc;
  }